/* General */
html {
    font-family: 'Anonymous Pro', 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 17px;
    letter-spacing: 1.3px;
}

body {
    background-color: white;
    padding: 2rem;
    text-align: left;
    position: relative;
    min-height: 90vh;
}

main {
    padding-bottom: 2.5rem;
}

h1, h2, h3, h5, h6 {
    font-weight: 400;
}

h1 {
    font-style: italic;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 0;
}

h4 {
    margin-top: 1rem;
    font-family: 'Tahoma', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

/* NavBar */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: right;
}

.navbar li:last-child {
    float: left;
}

.navbar li:hover {
    background-color: lavender;
}

.navbar li:last-child .navbutton:hover {
    background-color: white;
}

.navbutton {
    display: block;
    text-align: center;
    padding: 1rem;
    color: black;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
}

.navbar li:last-child .navbutton {
    float: left;
}

footer {
    position: absolute;
    bottom: 1rem;
    width: 95vw;
    height: 2.5rem;
}

footer p {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-justify: distribute;
    height: auto;
    width: 20rem;
}

/* About */
.about {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 45%;
    padding: 0 1rem;
    margin: 1rem auto;
    justify-content: center;
    background-color: lavender;
}

.col img {
    width: 100%;
    height: auto;
}

.bio {
    text-align: left;
    margin: 0 auto;
}

.contact {
    text-align: center;
    width: 100%;
    margin: 1rem auto;
}

.website-link, .links a {
    color: violet;
}

.social-link {
    margin: 0.5rem;
    text-decoration: none;
}

.social-link img {
    width: 26px;
}

/* Projects */
#projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem auto;
}

.project-card {
    position: relative;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    margin: 1rem auto;
    width: 48%;
}

.project-card img {
    display: flex;
    width: 100%;
    height: 100%;
    align-self: center;
    border: solid gray 1px;
    flex-shrink: 3;
}

.project-content {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: 0.5s ease;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    background-color: lavender;
    text-align: center;
}

.project-content p {
    margin: 1rem 2rem;
}

.links {
    margin: 0 auto;
    padding-bottom: 2rem;
}

.links a {
    margin: 0 1rem;
}

@media only screen and (max-width: 480px) {
    body {
        padding: 0.5rem 0.5rem;
    }

    .about, #project-content {
        margin-top: 0;
        width: 100%;
    }

    h1 {
        font-size: 1.2rem;
    }

    h2, h3, h4, h5, p, a{
        font-size: 0.8rem;
    }

    .col {
        width: 100%;
    }

    .project-card {
        width: 100%;
    }

    .project-content p, .project-content h2 {
        margin: 0.5rem 1rem;
    }
}

@media only screen and (max-width: 1025px) and (min-width: 481px) {
    body {
        padding: 0.5rem 1rem;
    }

    .about, #project-content {
        margin-top: 0;
    }

    .col {
        width: 100%;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2, h3, h4, h5, p, .links a {
        font-size: 1rem;
    }

    .project-card {
        width: 100%;
    }

    .project-content p {
        margin: 0.5rem 1rem;
    }
}
