/* General */
body {
    background-color: seashell;
    padding: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: center;
    position: relative;
    min-height: 90vh;
}

main {
    padding-bottom: 2.5rem;
}

h1, h2, h3, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

h1 {
    font-style: italic;
}

h4 {
    margin-top: 1rem;
    font-family: 'Tahoma', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: right;
}

.navbar li:last-child {
    float: left;
}

.navbar li:hover {
    background-color: lightgray;
}

.navbar li:last-child .navbutton:hover {
    background-color: seashell;
}

.navbutton {
    display: block;
    text-align: center;
    padding: 1rem;
    color: black;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
}

.navbar li:last-child .navbutton {
    padding: 0.5rem;
    float: left;
}

main {
    padding: 1rem 7rem;
}

footer {
    position: absolute;
    bottom: 1rem;
    width: 95vw;
    height: 2.5rem;
}

footer p {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-justify: distribute;
    height: auto;
    width: 20rem;
}

/* About */
.bio, .contact {
    border-top: solid gray 1px;
    width: 75%;
    margin: 0 auto;
    padding: 1rem;
}

.contact {
    border-top: solid gray 1px;
}

/* VSCO-Style */
.media {
    margin: 0 auto;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.photo-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.img-cap {
    align-self: flex-start;
    width: 25vw;
    height: auto;
}

.img-cap img {
    padding: 0rem 0rem;
    width: inherit;
    height: auto;
}

.img-cap p {
    padding: 0rem 0rem;
    width: inherit;
    position: relative;
    bottom: 2.8rem;
    opacity: 0%;
    height: 1.5rem;
    color: white;
    vertical-align: bottom;
    font-size: 1rem;
}

.social-link, .website-link {
    color: salmon;
}

/* Projects */
.projects-container {
    display: flex;
    flex-direction: column;
}

.projects-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.project-card {
    padding: 0;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.project-card img {
    width: 50%;
    height: auto;
    align-self: center;
}

.project-card caption {
    margin: 2rem auto;
    padding: 20%;
    
}

@media only screen and (max-width: 480px) {
    main {
        padding: 1rem 0.5rem;
    }

    main p {
        font-size: 1rem;
    }

    .img-cap {
        width: 95vw;
        height: auto;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 481px) {
    main {
        padding: 1rem 2rem;
    }

    main p {
        font-size: 1rem;
    }

    .img-cap {
        width: 75vw;
        height: auto;
    }
}
