/* General */
html {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 17px;
    letter-spacing: 1.3px;
}

body {
    background-color: white;
    text-align: left;
    position: relative;
    min-height: 90vh;
}

main {
    padding-bottom: 3rem;
    min-height: 85vh;
}

h1, h2, h3, h5, h6 {
    font-family: 'Proza Libre', sans-serif;
    font-weight: 400;
}

h1 {
    font-style: italic;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 0;
}

h4 {
    margin-top: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

a {
    color: plum;
}

a:hover {
    opacity: 0.6;
}

em {
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
}

.facts li {
    margin: 5px 0;
}

/* NavBar */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: right;
}

.navbar li:last-child {
    float: left;
}

.navbar li .navbutton:hover {
    opacity: 0.7;
}

.navbar li:last-child .navbutton:hover {
    background-color: white;
    opacity: 0.7;
}

.navbutton {
    display: block;
    text-align: center;
    padding: 1rem;
    color: black;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
}

.home img {
    position: relative;
    top: 1.55px;
}

.navbar li:last-child .navbutton {
    float: left;
}

/* Footer */
footer {
    border-top: 1px solid gray;
    position: absolute;
    bottom: 1rem;
    width: 100%;
    height: 2.5rem;
}

footer p {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    height: auto;
    margin-left: 1rem;
}

.footer-links {
    float: right;
    margin-right: 1rem;
}

.footer-link {
    text-decoration: none;
    margin: 0 0.5rem;
}

.footer-link img {
    height: 1.5rem;
    width: 1.5rem;
}

/* About */
.name {
    margin: 2rem 0;
    text-align: center;
}

.nametag {
    margin: 0 auto;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.nametag h1 {
    margin: 1rem;
}

.name h4 {
    margin: 0;
}

.about {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    min-height: 75vh;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
    margin: 1rem auto;
    max-width: 42rem;
}

.hello {
    display: flex; 
    flex-direction: row;
    margin-bottom: 0.75rem;
}

.intro, .hello img {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profpic {
    min-width: 12rem;
    width: 30%; 
    padding: 0 1.5rem 0.5rem 0; 
    border-radius: 50%;
    justify-self: center;
}

.birb {
    width: 5rem;
    height: 4.8rem;
}

.bio {
    text-align: left;
    margin: 0 auto;
}

.contact {
    text-align: center;
    width: 100%;
    margin: 1rem auto;
}

.social-link {
    margin: 1rem;
    text-decoration: none;
}

.social-link img {
    width: 2.5rem;
}

.social-link img:hover {
    opacity: 0.6;
}

/* Projects */
#projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 1rem;
    margin: 2rem auto 5rem auto;
    max-width: 75%;
}

.project-card {
    text-align: left;
    position: relative;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
}

.project-card h2 {
    font-weight: bold;
}

.project-card img {
    display: flex;
    width: 100%;
    height: 100%;
    align-self: center;
    border: solid gray 1px;
    flex-shrink: 3;
}

.project-content {
    border: solid gray 1px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    height: 100%;
    padding: 1rem 0.75rem;
}

.project-content p {
    text-align: left;
    padding: 0 1rem;
}

.project-context {
    font-style: italic;
}

.project-tech {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: flex-end;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 1rem;
    padding: 0;
}

.project-tech li {
    margin-right: 15px;
}

.project-tag {
    margin: 0 1rem;
    display: inline;
}

.project-tag a, .project-tag h2 {
    font-size: 1.3rem;
    display: inline;
    text-decoration: none;
}

.project-link {
    margin: 0;
}

.project-link img {    
    border: none;
    display: inline;
    width: 1.1rem;
    height: 1.1rem;
}

@media only screen and (max-width: 480px) {
    body {
        padding: 0;
        margin: 0;
    }

    .navbar {
        border-bottom: solid 1px gray;
    }

    .name {
        margin: 0;
    }

    .name h4 {
        margin-bottom: 1.5rem;
    }

    h1, .nametag h1 {
        font-size: 1.8rem;
    }

    h2, h3, h4, em {
        font-size: 0.9rem;
    }

    h5, p, a, li {
        font-size: 0.8rem;
    }

    .home img {
        position: relative;
        top: 1.5px;
        width: 14px;
        height: 14px;
    }

    .about {
        margin-top: 0;
        padding: 0;
        width: 100%;
    }

    .birb {
        width: 3rem;
        height: 2.8rem;
    }

    .col {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .bio {
        padding: 0.5rem;
    }

    .profpic {
        min-height: 5rem;
        min-width: 9rem;
        height: 90%;
    }

    .facts {
        padding-left: 1rem;
    }

    .contact {
        padding-top: 0rem;
        margin-top: 0;
    }

    .social-link {
        margin: 0.5rem;
    }
    
    .social-link img {
        width: 1.5rem;
    }

    footer p {
        text-align: center;
        width: 100%;
    }

    #projects-container {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
        gap: 1rem;
        margin: 2rem auto 3rem auto;
        max-width: 75%;
    }
}

@media only screen and (max-width: 1025px) and (min-width: 481px) {
    .about, #project-content {
        margin-top: 0;
    }

    #projects-container {
        grid-template-columns: 1fr;
    }

    .col {
        width: 100%;
    }

    h1 {
        padding: 0;
    }

    h2, h3, h5, p, .links a, li {
        font-size: 1rem;
    }

    .social-link {
        margin: 0.5rem;
    }
    
    .social-link img {
        width: 1.5rem;
    }
}
