@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Proza+Libre:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

@tailwind base;
@layer base {
    html {
        font-family: 'Open Sans', sans-serif;
        font-size: 17px;
        letter-spacing: 1.3px;
    }
    
    body {
        text-align: left;
        position: relative;
        min-height: 90vh;
    }

    h2, h3 {
        @apply font-bold text-xl mt-4;
    }
    
    h1 {
        @apply italic font-bold mb-0 mt-4 text-5xl;
    }
    
    h4 {
        @apply font-normal mt-4 text-2xl;
    }
    
    a {
        color: plum;
    }
    
    a:hover {
        opacity: 0.6;
    }

    p {
        @apply py-1;
    }
}

@tailwind components;
@layer components {
    .navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    .navbar li {
        float: right;
    }
    
    .navbar li:last-child {
        float: left;
    }
    
    .navbar li .navbutton:hover {
        opacity: 0.7;
    }
    
    .navbar li:last-child .navbutton:hover {
        background-color: white;
        opacity: 0.7;
    }
    
    .navbutton {
        display: block;
        text-align: center;
        padding: 1rem;
        color: black;
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
    }

    .navbar li:last-child .navbutton {
        float: left;
    }

    .content {
        margin: 0 auto;
        @apply sm:w-64 md:w-1/2 lg:w-1/2 text-left mt-8;
    }
    
    footer {
        font-family: 'Courier New', Courier, monospace;
        @apply w-full text-center pb-2 mt-2;
    }

    .sidebar {
        width: 4rem;
        bottom: 1.5rem;
        @apply md:flex sm:hidden fixed flex-col justify-end items-center;
    }

    .sidebar-link {
        color: black;
        @apply py-2 px-0 hover:opacity-50;
    }

    .react-tabs [role=tab],
    .react-tabs [role=tab]:focus,
    .react-tabs [role=tab]:focus:after {
        @apply p-2 w-full text-sm italic border-l-2 border-gray-100;
    }

    .react-tabs [role=tablist],
    .react-tabs [role=tablist]:focus,
    .react-tabs [role=tablist]:focus:after {
        @apply flex sm:flex-row md:flex-col items-start mr-4;
    }

    .react-tabs {
        @apply flex flex-col md:flex-row p-2 mt-2;
    }

    .inner-tab-panel ul {
        list-style: url("double-arrow-right-icon.svg") outside;
        @apply ml-4;
    }
    
    .inner-tab-panel h2 {
        @apply m-0 text-base;
    }

    .inner-tab-panel h5 {
        @apply italic font-bold text-sm;
    }

    .inner-tab-panel ul {
        @apply mt-2;
    }

    .inner-tab-panel li {
        @apply text-sm mb-1;
    }
}

@tailwind utilities;
